.main h1{
  text-align: center;
}

.todo{
  width: 400px;
  background-color: beige;
  margin: 0 auto;
  text-align: center;
}

.todo form {
  text-align: center;
}

.todo form input{
  width: 70%;
  border-radius: 3px;
  padding: 5px 10px;
}

.todo button{
  background-color: gray;
  color: beige;
  width: 60%;
  font-size: 15px;
  margin: 5px;
  border-radius: 3px;
}

.todoRemove {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.todoRemove li{
  list-style: none;
  width: 80%;
  border-bottom: 1px black solid;
  border-left: 5px orange solid;
}

.todoRemove button{
  background-color: gray;
  color: beige;
  width: 20%;
  font-size: 15px;
  margin: 5px;
  border-radius: 3px;
}