.main h1{
  text-align: center;
}

.todo{
  width: 400px;
  background-color: beige;
  margin: 0 auto;
  text-align: center;
}

.todo form {
  text-align: center;
}

.todo form input{
  width: 70%;
  border-radius: 3px;
  padding: 5px 10px;
}

.todo button{
  background-color: gray;
  color: beige;
  width: 60%;
  font-size: 15px;
  margin: 5px;
  border-radius: 3px;
}